@charset "utf-8";

/* 노토산스 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* 강원교육모두체 웹폰트 */
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 기본 스타일 (폰트, 색상,  */

:root{
  --main_txt_color_dark: #251a18;
  --main_txt_color_light: #fff8f0; 
  --sub_box_color_pupple: #524FC7;

  --m_main_txt_size: 12px;
}
body{
  font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--main_txt_color_dark);
  line-height: 1.6;
}
a{
  text-decoration: none;
  color: var(--main_txt_colo_dark);
}


/* 헤더 서식 */
header{
  padding: 8px 0 4px 0;
  position: relative;
  z-index: 100;
}
.logo{
  text-align: center;
}
.logo_img{
  width: 160px;
}

/* 전체 메뉴 토글 */
input{display: none;}
label{cursor: pointer;}
#menu_btn{
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 32px;
  cursor: pointer;
}
#toggle:checked ~ .t_menu_shadow_box{
  left: 0;
}
.t_menu_shadow_box{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 30%;
  box-sizing: border-box;
  left: 100%;
  top: 0;
  transition: 0.3s;
}
.t_menu{
  width: 65%;
  height: 100%;
  background-color: var(--main_txt_color_light);
  position: absolute;
  right: 0;
  padding: 72px 20px 30px 20px;
}
.t_menu > ul > li{
  padding: 15px 0 10px 0;
  border-bottom: 1px solid #d1d1d1;
  text-indent: 10px;
}
.t_menu > ul > li > label{
  display: block;
  position: relative;
}
.t_menu > ul > li > label > i{
  position: absolute;
  right: 0;
}
.t_menu_title{
  font-family: 'GangwonEdu_OTFBoldA', 'Noto Sans KR',
                     Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.t_menu_direction{
  position: absolute;
  right: 0;
}

/*상세 메뉴 토글 */
.t_menu_lnb{
  display: none;
}
/* 슬로우캘리 */
#slow_toggle:checked ~ .t_menu_lnb{
  display: block;
}
/* 메뉴 */
#menu_toggle:checked ~ .t_menu_lnb{
  display: block;
}
/* 새소식 */
#news_toggle:checked ~ .t_menu_lnb{
  display: block;
}
/* 가맹점 */
#chain_toggle:checked ~ .t_menu_lnb{
  display: block;
}

/* 메뉴 타이틀 내부 lnb 서식 */
.t_menu_lnb{
  font-size: 14px;
  text-indent: 20px;
}
.t_menu li a{
  display: block;
  line-height: 36px;
}

.t_menu > ul > li > label > i:last-child{
  position: relative;
}
.t_menu .fa-instagram, .t_menu .fa-xmark{
  display: block;
  text-indent: 10px;
  font-size: 36px;
  padding: 5px 0;
  line-height: 0.6;
}

/* 푸터 서식 */
footer{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 25px 10px;
  color: var(--main_txt_color_light);
  background-color: var(--sub_box_color_pupple);
  font-weight: 300;
}
.pm_fnb_nav{
  margin-bottom: 25px;
}
.pm_fnb_nav > strong{
  margin-left: 15px;
}


/* 푸터 - 마크업유효성 */
.markup{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}